USE [master]
GO
/****** Object:  Database [defektoloski_centar]    Script Date: 8/27/2025 6:02:43 PM ******/
CREATE DATABASE [defektoloski_centar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aleksandar_Ilankovic_2022_0202', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Aleksandar_Ilankovic_2022_0202.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aleksandar_Ilankovic_2022_0202_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Aleksandar_Ilankovic_2022_0202_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [defektoloski_centar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [defektoloski_centar]
GO
/****** Object:  Table [dbo].[defektolog]    Script Date: 8/27/2025 6:02:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[defektolog](
	[idDefektolog] [int] IDENTITY(1,1) NOT NULL,
	[ime] [varchar](30) NOT NULL,
	[prezime] [varchar](30) NOT NULL,
	[brojTelefona] [varchar](30) NOT NULL,
	[sifra] [varchar](30) NOT NULL,
	[korisnickoIme] [varchar](30) NOT NULL,
 CONSTRAINT [PK_defektolog] PRIMARY KEY CLUSTERED 
(
	[idDefektolog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[defektoloskausluga]    Script Date: 8/27/2025 6:02:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[defektoloskausluga](
	[idDefektoloskaUsluga] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](30) NOT NULL,
	[trajanjeUSatima] [int] NOT NULL,
	[cenaUDinarima] [int] NOT NULL,
 CONSTRAINT [PK_DefektoloskaUsluga] PRIMARY KEY CLUSTERED 
(
	[idDefektoloskaUsluga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dete]    Script Date: 8/27/2025 6:02:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dete](
	[idDete] [int] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](30) NOT NULL,
	[prezime] [nvarchar](30) NOT NULL,
	[idOdgovorniStaratelj] [int] NOT NULL,
 CONSTRAINT [PK_dete] PRIMARY KEY CLUSTERED 
(
	[idDete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evidencijatretmana]    Script Date: 8/27/2025 6:02:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evidencijatretmana](
	[idEvidencijaTretmana] [int] IDENTITY(1,1) NOT NULL,
	[datumTretmana] [date] NOT NULL,
	[vremePocetkaTretmanaUCasovima] [int] NOT NULL,
	[evidencijaJeStornirana] [bit] NOT NULL,
	[ukupnaCenaUDinarima] [int] NOT NULL,
	[tretmanJePlacen] [bit] NOT NULL,
	[idDefektolog] [int] NOT NULL,
	[idDete] [int] NOT NULL,
 CONSTRAINT [PK_evidencija_tretmana] PRIMARY KEY CLUSTERED 
(
	[idEvidencijaTretmana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[odgovornistaratelj]    Script Date: 8/27/2025 6:02:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[odgovornistaratelj](
	[idOdgovorniStaratelj] [int] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](30) NOT NULL,
	[prezime] [nvarchar](30) NOT NULL,
	[brojTelefona] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_odgovorni_staratelj] PRIMARY KEY CLUSTERED 
(
	[idOdgovorniStaratelj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specijalizacija]    Script Date: 8/27/2025 6:02:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specijalizacija](
	[idSpecijalizacija] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](100) NOT NULL,
	[institucija] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_specijalizacija] PRIMARY KEY CLUSTERED 
(
	[idSpecijalizacija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specijalizacijadefektologa]    Script Date: 8/27/2025 6:02:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specijalizacijadefektologa](
	[idDefektolog] [int] NOT NULL,
	[idSpecijalizacija] [int] NOT NULL,
	[datumSpecijalizacije] [date] NOT NULL,
 CONSTRAINT [PK_specijalizacijadefektologa] PRIMARY KEY CLUSTERED 
(
	[idDefektolog] ASC,
	[idSpecijalizacija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stavkaevidencijetretmana]    Script Date: 8/27/2025 6:02:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stavkaevidencijetretmana](
	[idEvidencijaTretmana] [int] NOT NULL,
	[rb] [int] NOT NULL,
	[cenaUDinarima] [int] NOT NULL,
	[idDefektoloskaUsluga] [int] NOT NULL,
 CONSTRAINT [PK_stavkaevidencijetretmana] PRIMARY KEY CLUSTERED 
(
	[idEvidencijaTretmana] ASC,
	[rb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[evidencijatretmana] ADD  CONSTRAINT [DF_evidencija_tretmana_evidencijaJeStornirana]  DEFAULT ((0)) FOR [evidencijaJeStornirana]
GO
ALTER TABLE [dbo].[evidencijatretmana] ADD  CONSTRAINT [DF_evidencija_tretmana_tretmanJePlacen]  DEFAULT ((0)) FOR [tretmanJePlacen]
GO
ALTER TABLE [dbo].[stavkaevidencijetretmana] ADD  CONSTRAINT [DF_stavkaevidencijetretmana_rb]  DEFAULT ((1)) FOR [rb]
GO
ALTER TABLE [dbo].[dete]  WITH CHECK ADD  CONSTRAINT [FK_dete_odgovornistaratelj] FOREIGN KEY([idOdgovorniStaratelj])
REFERENCES [dbo].[odgovornistaratelj] ([idOdgovorniStaratelj])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[dete] CHECK CONSTRAINT [FK_dete_odgovornistaratelj]
GO
ALTER TABLE [dbo].[evidencijatretmana]  WITH CHECK ADD  CONSTRAINT [FK_evidencijatretmana_defektolog] FOREIGN KEY([idDefektolog])
REFERENCES [dbo].[defektolog] ([idDefektolog])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[evidencijatretmana] CHECK CONSTRAINT [FK_evidencijatretmana_defektolog]
GO
ALTER TABLE [dbo].[evidencijatretmana]  WITH CHECK ADD  CONSTRAINT [FK_evidencijatretmana_dete] FOREIGN KEY([idDete])
REFERENCES [dbo].[dete] ([idDete])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[evidencijatretmana] CHECK CONSTRAINT [FK_evidencijatretmana_dete]
GO
ALTER TABLE [dbo].[specijalizacijadefektologa]  WITH CHECK ADD  CONSTRAINT [FK_specijalizacijadefektologa_defektolog] FOREIGN KEY([idDefektolog])
REFERENCES [dbo].[defektolog] ([idDefektolog])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[specijalizacijadefektologa] CHECK CONSTRAINT [FK_specijalizacijadefektologa_defektolog]
GO
ALTER TABLE [dbo].[specijalizacijadefektologa]  WITH CHECK ADD  CONSTRAINT [FK_specijalizacijadefektologa_specijalizacija] FOREIGN KEY([idSpecijalizacija])
REFERENCES [dbo].[specijalizacija] ([idSpecijalizacija])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[specijalizacijadefektologa] CHECK CONSTRAINT [FK_specijalizacijadefektologa_specijalizacija]
GO
ALTER TABLE [dbo].[stavkaevidencijetretmana]  WITH CHECK ADD  CONSTRAINT [FK_stavkaevidencijetretmana_defektoloskausluga] FOREIGN KEY([idDefektoloskaUsluga])
REFERENCES [dbo].[defektoloskausluga] ([idDefektoloskaUsluga])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[stavkaevidencijetretmana] CHECK CONSTRAINT [FK_stavkaevidencijetretmana_defektoloskausluga]
GO
ALTER TABLE [dbo].[stavkaevidencijetretmana]  WITH CHECK ADD  CONSTRAINT [FK_stavkaevidencijetretmana_evidencijatretmana] FOREIGN KEY([idEvidencijaTretmana])
REFERENCES [dbo].[evidencijatretmana] ([idEvidencijaTretmana])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[stavkaevidencijetretmana] CHECK CONSTRAINT [FK_stavkaevidencijetretmana_evidencijatretmana]
GO
ALTER TABLE [dbo].[defektolog]  WITH CHECK ADD  CONSTRAINT [CK_defektolog] CHECK  ((charindex([IME],([KORISNICKOIME]) collate Latin1_General_CI_AS)>(0)))
GO
ALTER TABLE [dbo].[defektolog] CHECK CONSTRAINT [CK_defektolog]
GO
ALTER TABLE [dbo].[defektoloskausluga]  WITH CHECK ADD  CONSTRAINT [CK_defektoloska_usluga] CHECK  (([trajanjeUSatima]>(0) AND [cenaUDinarima]>(0)))
GO
ALTER TABLE [dbo].[defektoloskausluga] CHECK CONSTRAINT [CK_defektoloska_usluga]
GO
ALTER TABLE [dbo].[evidencijatretmana]  WITH CHECK ADD  CONSTRAINT [CK_evidencijatretmana] CHECK  (([vremePocetkaTretmanaUCasovima]>(0) AND [ukupnaCenaUDinarima]>(-1)))
GO
ALTER TABLE [dbo].[evidencijatretmana] CHECK CONSTRAINT [CK_evidencijatretmana]
GO
ALTER TABLE [dbo].[stavkaevidencijetretmana]  WITH CHECK ADD  CONSTRAINT [CK_stavkaevidencijetretmana] CHECK  (([cenaUDinarima]>(0) AND [rb]>(0)))
GO
ALTER TABLE [dbo].[stavkaevidencijetretmana] CHECK CONSTRAINT [CK_stavkaevidencijetretmana]
GO
USE [master]
GO
